extends layout

block content
  h1 Welcome!
  h3 The backend is running.
  p To actually do something go to 
    a(href="/chattest.html") /chattest.html 
  p To test the chat-feature or find the Postman collection with example requests at stuff/konfetti.postman_collection.json and fire some requests.
  p API documentaion can be found 
    a(href="https://github.com/konfetti-app/konfetti-backend/blob/master/API.md") here.
  p Please contact us or create a pull-request at 
    a(href="https://github.com/konfetti-app/konfetti-backend") https://github.com/konfetti-app/konfetti-backend 
    | if you feel something is wrong.