extends layout

block content
  h1 Welcome!
  h3 The backend is running.
  p To actually do something go to 
    a(href="/sockettest.html") /sockettest.html 
  p To test the chat-feature or find the Postman collection with example requests at stuff/konfetti.postman_collection.json and fire some requests.
  p API documentaion can be found 
    a(href="https://github.com/konfetti-app/konfetti-backend/blob/master/API.md") here.
  if err 
    pre #{err}
    p Please contact us, if you feel this is wrong.
