extends layout

block content
  h1= title
  p Set your new password here:
    form(action=formAction, method="POST")
        p New Password:
        input(type="text" name="password" placeholder="password")
        input(type="text" name="magicKey" value=magicKey style={display: 'none'})
        input(type="submit")